/********************* COMMON **********************/
body {
	background-color: #222;
	color: red;
	font-family: sans-serif;
}

/***** SLIDE *****/
.slide {
	height: 38rem;
	display: none;
}

.active {
	display: block;
}

/***** THUMBNAIL *****/
.img-thumbnail {
	height: 8rem;
}

.thumb {
	opacity: 0.2;
	border: 0;
	padding: 0;
}

.active-thumb {
	opacity: 1;
	padding: 0.25rem;
}
