/********************* COMMON **********************/
body {
	background-color: #222;
	font-family: sans-serif;
}

/***** SLIDE *****/
.my-h {
	height: 38rem;
}

.slide {
	display: none;
}

/***** THUMBNAIL *****/
.img-thumbnail {
	height: 8rem;
}

.thumb {
	opacity: 0.2;
	border: 0;
	padding: 0;
}

.active-thumb {
	opacity: 1;
	padding: 0.25rem;
}
